<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
        <input type="text" name="name" value="Team Name">
        <input type="text" name="coach" value="Coach">
        <input type="text" name="pg" value="Point Guard">
        <input type="text" name="sg" value="Shooting Guard">
        <input type="text" name="sf" value="Small Forward">
        <input type="text" name="pf" value="Power Forward">
        <input type="text" name="c" value="Center">
        <input type="submit" value="Submit">
    </form>
 </body>
</html>


